<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Bardic Inspiration</ion-title>
    <app-progressbar></app-progressbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Bardic Inspiration</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">

    <!--Displays all selections from the previous pages-->
    <div class="tag-List">
      <b>Tags:</b> <br>
      {{name}}<br>
      {{pronouns}}<br>
      {{class}}<br>
      {{race}}<br>
      {{subclass}}<br>
      {{birthplace}}<br>
      {{trope}}<br>
      <div *ngFor="let coloredText of coloredTexts" [style.color]="coloredText.color">
        {{ coloredText.text }}
      </div>
    </div>

    <div class="charImageContainer">
      <img id="charImage" [src]="charImageUrl" alt="Image of the Bard">
    </div>


    <div class="story-wrapper">
      <!--a scrollable div for the generated story-->
      <div
        [ngClass]="{'scrollable-text-container-off' : ((showLoadingScreen) && !chatResponse), 'scrollable-text-container-on': ((!showLoadingScreen) && chatResponse)}"
        (mouseup)="captureSelectedText($event)">
        <div *ngIf="((!showLoadingScreen) && chatResponse); else loading2" class="ngIfWrapper">
          <div *ngFor="let response of responsesArray;">

            <p id="responseParagraph">
              <!-- Inserts story here -->
              {{chatResponse}}
            </p>
          </div>

        </div>
        <!--Displays image during the time it takes to get the story from the api -->
        <ng-template #loading2>

          <img id="loadImg" src="../../../assets/loadingStory.png" alt="Image of a feather and paper">
          <p> <strong>One moment adventurer... <br> Writing an amazing story... </strong></p>

        </ng-template>
      </div>

      <div class="endpage-button-wrapper">
        <ion-button color="dark" (click)="backButton()">Go Back</ion-button>
        <ion-button color="dark" (click)="newStory()">Regenerate Story</ion-button>
        <ion-button color="dark" (click)="nextPageButton()">Confirm</ion-button>
      </div>
    </div>

    <!--Bard-->
    <div id="bardContainer">

      <img id="bardImg" src="../../../assets/bard2.png" alt="Image of the Bard">

      <div id="text-container">
        <strong>Bard:</strong>

        <!--Show funfacts during waiting time-->
        <ng-template #loading>


          <p> One moment adventurer, I am working on your story... </p>
          <p>But did you know? {{funfact}}</p>

        </ng-template>
        <!--when the story is displayed-->
        <div *ngIf="((!showLoadingScreen) && chatResponse); else loading">
          <p>
            "Meet {{name}}! I hope you like {{textPronoun}} backstory - please let me know if you want me to make any
            adjustments and give me some pointers, if possible.
            Mark the content you want to keep or change."</p>
        </div>

      </div>
    </div>







    <div class="button-container">

      <div class="marker-wrapper">
        <img class="marker" src="../../../assets/blueMarker.png" alt="Image of a blue marker">
        <ion-button [disabled]="(changeSelected)" id="keepButton" (click)="markText('keep')">Keep</ion-button>

      </div>

      <div class="marker-wrapper">
        <img class="marker" src="../../../assets/orangeMarker.png" alt="Image of a orange marker">
        <ion-button [disabled]="(changeSelected)" id="changeButton" (click)="markText('change')">Change</ion-button>
      </div>



      <ion-item [ngClass]="{'changeSelected' : changeSelected, 'changeNotSelected': !changeSelected}">
        <ion-label position="floating">What would you like to change on the selected text?</ion-label>
        <ion-textarea class="inputChangeArea" [(ngModel)]="changeInputText" autoGrow="false"
          placeholder="Enter your changes for the selected passage..."></ion-textarea>
        <ion-button [disabled]="!changeInputText" id="enterChangeButton" color="dark"
          (click)="enterChanges()">Apply</ion-button>
      </ion-item>
    </div>



  </div>



</ion-content>