<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Bardic Inspiration</ion-title>
    <app-progressbar></app-progressbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Bardic Inspiration</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">

    <!--Bard-->
    <div id="bardContainer">

      <img id="bardImg" src="../../../assets/bard2.png" alt="Image of the Bard">

      <div id="text-container">
        <strong>Bard:</strong>
        <p>
          {{infoText}}</p>
      </div>



      <div class="button-wrapper">
        <ion-button class="back-button" color="dark" (click)="backButton()">Go Back</ion-button>
        <ion-button class="confirm-button" [disabled]="!(selectedTrope)" color="dark"
          (click)="nextPageButton()">Confirm</ion-button>

      </div>

    </div>




    <div class="all-tropes-container">
      <!--dynamically load tropes in the UI-->
      <ion-card *ngFor="let trope of tropesArray; let i = index"
        [ngClass]="{'selected' : trope.isSelected, 'notSelected': !trope.isSelected}" (click)="clickTrope(trope)"
        (mouseover)="hoverFunction(trope)" (mouseout)="onLeave(trope)">
        <ion-card-header>
          <ion-card-title>{{trope.name}}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          {{trope.infoText}}
        </ion-card-content>
      </ion-card>


    </div>





  </div>




</ion-content>