<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Bardic Inspiration</ion-title>
    <app-progressbar></app-progressbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Bardic Inspiration</ion-title>
    </ion-toolbar>
  </ion-header>




  <div id="container">

    <!--Bard-->
    <div id="bardContainer">

      <img id="bardImg" src="../../../assets/bard2.png" alt="Image of the Bard">

      <div id="text-container">
        <strong>Bard:</strong>
       <p>"Tell me more about the circumstances of your character's birth!"<br></p>
      </div>
    </div>



    <!--Different options for ancestry & birthplace-->
    <ion-grid>

      <ion-row class="ion-justify-content-center">
        <ion-col class="header"> Ancestry</ion-col>

      </ion-row>



      <!--ngClass allows dynamic assignment of css-classes depending on the values of one or more variables -->
      <!--[ngClass]={'nameOfCSSClass': variable}-->
      <ion-row class="ion-justify-content-center">
        <ion-col size="3" [ngClass]="{'selected' : dwarfSelected, 'notSelected': !dwarfSelected}">
          <div class="img-wrapper"><img class="raceImg dwarfImg" src="../../../assets/dwarf.JPG" alt="Image of a dwarf"
              (click)="dwarfClick()"> <br /> Dwarf</div>
        </ion-col>
        <ion-col size="3" [ngClass]="{'selected' : elfSelected, 'notSelected': !elfSelected}">
          <div class="img-wrapper"><img class="raceImg elfImg" src="../../../assets/elf.JPG" alt="Image of an elf"
              (click)="elfClick()"> <br /> Elf</div>
        </ion-col>
        <ion-col size="3" [ngClass]="{'selected' : humanSelected, 'notSelected': !humanSelected}">
          <div class="img-wrapper"><img class="raceImg humanImg" src="../../../assets/human.JPG" alt="Image of a human"
              (click)="humanClick()"> <br /> Human</div>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-col class="header"> Birthplace</ion-col>

      </ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-col size="3" [ngClass]="{'selected' : forestSelected, 'notSelected': !forestSelected}"> <img
            class="placeImg" src="../../../assets/forest.png" alt="Image of a forest" (click)="forestClick()"> <br />
          Forest</ion-col>
        <ion-col size="3" [ngClass]="{'selected' : mountainSelected, 'notSelected': !mountainSelected}"> <img
            class="placeImg" src="../../../assets/mountain.png" alt="Image of a mountain" (click)="mountainClick()">
          <br /> Mountain</ion-col>
      </ion-row>


      <ion-row class="ion-justify-content-end">
        <ion-button color="dark" (click)="backButton()">Go Back</ion-button>
        <ion-button [disabled]="!(race && birthplace)" color="dark" (click)="nextPageButton()">Confirm</ion-button>

      </ion-row>


    </ion-grid>

  </div>











</ion-content>