#container {
    text-align: center;
    align-items: center;
    position: absolute;
    top: 15%;
    width: 100%;
    //transform: translateY(-50%);
}

#bardContainer {
    float: left;
    left: 5%;
    position: relative;
    width: 32%;
    height: 600px;
}

#bardImg {
    width: 35%;
}

.raceImg {
    cursor: pointer;
}

.raceImg.humanImg {
    width: 50%;
}

.raceImg.elfImg {
    width: 85%;
}

.raceImg.dwarfImg {
    width: 55%;
}

.placeImg {
    width: 30%;
    cursor: pointer;
}

.header {
    font-size: larger;
    font-weight: 300;
}


.selected {
    border-left: solid;
    border-right: solid;
    border-radius: 25px;
    border-color: #a82a41;
    margin-bottom: 50px;
}

.notSelected {
    border-style: none;
    margin-bottom: 50px;
}



#text-container {
    border-style: solid;
    border-color: black;
    width: 80%;
    min-height: 100px;
    padding: 10px;
    margin: auto;
}

.img-wrapper {
    min-height: 216px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

ion-grid {
    width: 65%;
    box-sizing: border-box;
}

ion-col {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}