<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Bardic Inspiration</ion-title>
    <app-progressbar></app-progressbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Bardic Inspiration</ion-title>
    </ion-toolbar>
  </ion-header>






  <div class="container">

    <!--Bard-->
    <div id="bardContainer">

      <img id="bardImg" src="../../../assets/bard2.png" alt="Image of the Bard">

      <div id="text-container">
        <strong>Bard:</strong>
        <p>
          "There, adventurer, your character's backstory is all done! Now go forth and best of luck on your adventures!"
        </p>
      </div>
    </div>

    <!--Image of the selected subclass-->
    <div class="charImageContainer">
      <img id="charImage" [src]="charImageUrl" alt="Image of the Bard">

    </div>

    <!--display finished story-->
    <div class="onceuponImageContainer">
      <img id="onceUpon" src="../../../assets/onceUpon.png" alt="Image of the Bard">
      <div class="yourStory">
        {{story}}
      </div>
      <!--Donwload button for the PDF-->
      <ion-button class="pdfButton" color="dark" (click)="downloadPDF()">Download as PDF</ion-button>

    </div>



  </div>






</ion-content>