<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Bardic Inspiration
    </ion-title>


    <app-progressbar></app-progressbar>




  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Bardic Inspiration</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div>
      <img id="bardImg" src="../../assets/bard.png" alt="Image of the Bard">
    </div>
    <div id="text-container">
      <strong>Bard:</strong>
      <p>"Welcome adventurer! I am Bard and I will help you write a story worthy of a heroic D&D character!
        Throughout this process I will ask you some questions about who your character is. If you're ever unsure which
        option to pick, don't worry. At the end of the process you'll be able to change selected parts of your story, so
        just pick any option and see where fate guides you."</p>
    </div>
    <ion-button color="dark" (click)="nextPageButton()">Venture forth!</ion-button>
  </div>

</ion-content>